{% extends 'base.html' %}
{% block title %}
{% for post in page_obj %}
{% if forloop.first %}
Записи сообщества {{post.group.title}}
{% endif %}
{% endfor %}
{% endblock %}

{% block content %}
{% for post in page_obj %}
{% if forloop.first %}
  <h1>{{post.group.title}}</h1>
    <p>
      {{post.group.description}}
    </p>
{% endif %}
      {% include 'includes/card.html' %}
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
{% endblock %}